<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ezenplate.www.repository.VisitedDAO">
	<select id="selectList" resultType="vvo" parameterType="pgvo">
		select mno, sno, reg_at
		from visited order by mno desc limit #{pageStart}, #{qty}
	</select>
	
	<delete id="remove" parameterType="long">
		delete from visited where sno=#{sno}
	</delete>
	
	<select id="selectTotalCount" resultType="int" parameterType="pgvo">
		select count(mno) from visited where mno > 0
	</select>
</mapper>