<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ezenplate.www.repository.WantDAO">
	<insert id="insert_want">
		insert into want(mno, sno, sname)
		values(#{mno}, #{sno}, #{sname})
	</insert>
	
	<select id="selectList" resultType="wvo" parameterType="hashMap">
		select mno, sno, sname, reg_at
		from want where mno=#{mno} limit #{pgvo.pageStart}, #{pgvo.qty}
	</select>
	<select id="check_dul" resultType="int">
	 	select count(mno) from want
	 	where sno=#{sno} and mno=#{mno}
	</select>
	<delete id="remove" parameterType="hashMap">
		delete from want where mno=#{mno} and sno=#{sno}
	</delete>
	
	<select id="selectTotalCount" resultType="int" parameterType="hashMap">
		select count(mno) from want where mno=#{mno};
	</select>
	<select id="want_get_list" resultType="wvo">
		select * from want where mno=#{mno}
	</select>
	<delete id="removeAllList" parameterType="long">
		delete from want where mno=#{mno}
	</delete>
</mapper>
